*{background-color:blanchedalmond;}
*{background-image :url(flowers2.png);background-repeat:repeat; background-attachment: scroll; background-position: top right;}
#para3{background-image:radial-gradient(red,pink,white)}
/*This is my afterclass project about a flower company*/